* {margin: 0; padding: 0;}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 62.5%;
	height: 300px;
	width: 300px;
}

#container {
	background-image: url(images/assign0_bg.jpg);
	background-repeat: no-repeat;
	height: 350px;
	width: 300px;
	font-size: 1.2em;
	margin: 4px;
	border-top: 1px solid white;
}
